.jumbotron {
  margin-top: 30px;
  padding: 1rem 2rem 2rem;
}

.card .card-img-top {
  height: 240px;
}

.thumbnail {
  width: 100%;
  margin: 0;
}

strong {
  min-width: 130px;
  display: inline-block;
}

.row.well {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  align-items: center;
}
.list-group {
  margin: 0;
}

h2 {
  margin-top: 0;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #424952;
  background-clip: border-box;
  border: 1px solid rgba(46, 44, 56, 0.322);
  border-radius: .25rem;
  margin-bottom: 26px;
}
.card-img-top {
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}
.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-title {
  margin-bottom: .75rem;
}

.loader {
  text-align: center;
  padding: 50px;
}
.movieDetail .loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 15px;
}
